* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  /*background-image: url("../images/background.jpg");*/
  /* background-size: 50%; */
  background-color: #857373;
  padding: 10%;
  margin: 10%;
  width: 90vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}


.header {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50%;
  margin-right: 20%;
}


.container {
  background-color: #ffffff;
  height: 250px;
  width: 800px;
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;

}

.alternative {
  border: 1px solid #000000;
  background-color: #7d9cb1;
  border-radius: 3px;
  padding: 5px, 10px;
  margin: 10%;
  color:black;
  font-size: 2em;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}


.score-container {
  background-color: #ffffff;
  height:50px;
  width: 800px;
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;

}

.start-button,
.next-button {
  font-size: 5rem;
  font-weight: bold;
  padding: 20px, 20px;
}

.controls {
  font-size: 5rem;
  font-weight: bold;
  padding: 20px, 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height:50px;
  width: 800px;
  max-width: 80%;
  padding: 10px;
  border-radius: 5px;
}

/*.hide {
  display: none;
}*/